{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h1>Agregar:</h1>

    {% if messages %}
    <ul>
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Añadir</button> <div class="form-group">
            <a class="btn btn-secondary" href="{% url 'index' %}">Cancelar</a>
        </div>
    </form>
</div>


{% endblock %}
