{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='container'>
  <div class='form-container'>

    <div class='hero'>
      <h1 class='hero-content'> Añadir Ticket </h1>
    </div>

    {% if messages %}
    <ul>
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
    <form method="POST" action="">
      {% csrf_token %}
      
      {% for field in form %}
        <div>
          <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
          {{ field }}
          {% if field.errors %}
            <p>
              {% for error in field.errors %}
                {{ error }}
              {% endfor %}
            </p>
          {% endif %}
        </div>
      {% endfor %}

      <div class='btn-form-buttons'>
        <button type="submit" class='btn-form'>
          Añadir Ticket
        </button>

        <button type='button' class='btn-form'>
          <a href="{% url 'index' %}">
            Cancelar
          </a>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
