{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='container'>

  <div class='hero'>
    <h1 class='hero-content'>Tickets en Espera</h1>
  </div>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if tickets %}
  <table class="styled-table">
    <thead>
      <tr>
        <th>ID Ticket</th>
        <th>Cliente</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Prioridad</th>
        <th>Fecha de Creación</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for ticket in tickets %}
        <tr>
          <td>{{ ticket.id_ticket }}</td>
          <td>{{ ticket.cliente.nombre }}</td>
          <td>{{ ticket.titulo }}</td>
          <td>{{ ticket.descripcion }}</td>
          <td>{{ ticket.prioridad }}</td>
          <td>{{ ticket.fecha_creacion|date:"Y-m-d H:i" }}</td>
          <td>{{ ticket.estado }}</td>
          <td>
          <div class='btn-i'>
            <a href="{% url 'atender_ticket' ticket.id_ticket %}">
              <i class="fas fa-pencil-alt"></i>
            </a>
          </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <h2 class="text-center text-red-500 mt-8">No hay tickets en espera.</h2>
  {% endif %}

  <button type="button" class="btn">
    <a href="{% url 'guardar_cola' %}">Guardar Cola</a>
  </button>

</div>
{% endblock %}
