{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <section class="hero">
        <div class="hero-content">
            <div>
                <h1>Sistema de Gestión de Tickets</h1>
                <p>Organiza y gestiona tus tickets de soporte de manera eficiente.</p>
            </div>
        </div>
    </section>

    <section class="about-us">
        <h2>Sobre Nosotros</h2>
        <p>Somos un equipo de desarrollo dedicado a creacion de sistemas o aplicativos web</p>
    </section>

    <section class="about-us">
        <h2>Características Principales</h2>
        <ul>
            <li>Creación de tickets con diferentes prioridades.</li>
            <li>Asignación de tickets a usuarios específicos.</li>
            <li>Seguimiento del estado de los tickets.</li>
            <li>Historial de interacciones y actualizaciones.</li>
        </ul>
    </section>

    <br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock content %}
