{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">

    <div class='hero'>
        <h1 class='hero-content'>Lista de Tickets</h1>
    </div>

    <button type="button" class="btn">
        <a href="{% url 'anadir_ticket' %}">
            Crear Nuevo Ticket
        </a>
    </button>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if tickets %}
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Cliente</th>
                    <th>Prioridad</th>
                    <th>Estado</th>
                    <th>Fecha de Creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.id_ticket }}</td>
                        <td>{{ ticket.titulo }} </td>
                        <td>{{ ticket.cliente }}</td>
                        <td>{{ ticket.prioridad }}</td>
                        <td>{{ ticket.estado }}</td>
                        <td>{{ ticket.fecha_creacion }}</td>
                        <td>
                            <button class="btn">
                                <a href="{% url 'atender_ticket' ticket.id_ticket %}" > Ver Detalles </a>
                            </button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">No hay tickets disponibles.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2 class="no-tickets-message">No hay tickets disponibles.</h2>
    {% endif %}
</div>
{% endblock content %}
