{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">

    <div class='hero'>
        <h1 class='hero-content'>Lista de Tickets</h1>
    </div>

    <button type="button" class="btn">
        <a href="{% url 'anadir_ticket' %}">
            Crear Nuevo Ticket
        </a>
    </button>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="get">
        <label for="prioridad">Prioridad:</label>
        <select name="prioridad" id="prioridad" class="form-control">
            <option value="">Todas las prioridades</option>
            {% for value, label in prioridades %}
                <option value="{{ value }}" {% if value == prioridad %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn-form">Filtrar</button>
    </form>
    
    <form method="get">
        <input type="text" name="q" placeholder="Buscar por título...">
        <button type="submit" class="btn-form">Buscar</button>
    </form>

    {% if tickets %}
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Cliente</th>
                    <th>Prioridad</th>
                    <th>Estado</th>
                    <th>Fecha de Creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.id_ticket }}</td>
                        <td>{{ ticket.titulo }}</td>
                        <td>{{ ticket.cliente }}</td>
                        <td>{{ ticket.get_prioridad_display }}</td>  {# Mostrar el valor legible #}
                        <td>{{ ticket.get_estado_display }}</td>    {# Mostrar el valor legible #}
                        <td>{{ ticket.fecha_creacion }}</td>
                        <td>
                            <button class="btn">
                                <a href="{% url 'atender_ticket' ticket.id_ticket %}">Ver Detalles</a>
                            </button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">No hay tickets disponibles.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2 class="no-tickets-message">No hay tickets disponibles.</h2>
    {% endif %}
</div>
{% endblock content %}
    