.btn {
    display: flex;
    padding: 0.75rem 1.5rem;
    margin: 15px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    background: #333;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background: #8800ff;
    color: white;
}

.btn a{
    color: white;
}

/* Estilos para botones con iconos */
.btn i {
    margin-right: 0.5rem;
    /* Espacio entre el icono y el texto */
}
