/* Contenedor de la tabla (opcional) */
.table-container {
    overflow-x: auto;
    margin: 1rem 0;  /* Espacio alrededor de la tabla */
  }
  
  /* Tabla */
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--secondary-color); /* Fondo gris oscuro */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Para que los bordes redondeados se apliquen correctamente */
  }
  
  /* Encabezados */
  .styled-table th {
    
    color: var(--text-color); /* Texto blanco */
    padding: 1rem; 
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid var(--accent-color); /* Línea divisoria verde */
  }
  
  /* Celdas de datos */
  .styled-table td {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Línea divisoria sutil */
    color: var(--text-color);
  }
  
  /* Filas pares e impares */
  .styled-table tbody tr:nth-child(even) {
    background-color: var(--primary-color); /* Fondo gris más oscuro para filas pares */
  }
  
  .styled-table tbody tr:nth-child(odd) {
    background-color: var(--secondary-color); /* Fondo gris medio para filas impares */
  }
  
  /* Enlaces en la tabla */
  .styled-table a {
    color: white;
    text-decoration: none;
  }
  
  .styled-table a:hover {
    text-decoration: underline;
  }
  
  /* Iconos en la tabla (si los usas) */
  .styled-table i {
    margin-right: 0.5rem;
  }
  